header, footer {
    margin: 0;
    color: green;
    text-align: center;
}


header h1{
    color:#00DF82;
}

#main-header { 
    transition: transform 0.4s ease;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0 auto;  
    margin-top: -200px;
}

#main-header.scrolled {
    transform: translateY(-90px);
}

#header-title-nav {
    padding-top: 10px;
    background-color: #aacbc464; 
    backdrop-filter: blur(10px); 
}

body {
    margin: 0;
    color:#AACBC4;
    background: #051c1f;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 200px;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

h1{
    color: rgb(0, 100, 0);
    font-size: 36px;
    text-align: center;
}

h2{
    color: #2EC297;
    font-size: 28px;
    text-align: center;
}

h3{
    color: #2CC295;
    font-size: 24px;
}

div.main-content {
    margin : 10px 45px 10px 45px; 
}

/* === MENU BURGER === */

:root{
    --bar-width: 30px;
    --bar-height: 4px;
    --hamburger-gap: 6px;
    --forground: #97c6bc;
    --animation-timing: 0.2s ease-in-out;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--forground);
    transform-origin: right center;
    transition: all var(--animation-timing), width var(--animation-timing);
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
}


.burger-menu:has(input:checked)::before { /*selectionne burger-menu s'il a un input checked*/
    rotate: -40deg;
}

.burger-menu:has(input:checked)::after { /*selectionne burger-menu s'il a un input checked*/
    rotate: 40deg;
}

.burger-menu input {
    appearance: none;
    padding: 0;
    margin:0;
    outline: none;
    pointer-events: none;
}

.burger-menu input:checked {
    opacity: 0;
}

.sidebar {
    text-align: left;
    list-style: none;
    flex-direction: column;
    transition: transform 0.5s ease;
    transform: translateX(2000px);
}

.sidebar nav li {
    margin: 30px;
}

.sidebar.show {
    transform: translateX(1000px);
}




/* =================== */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 700px; 
    width: 100%;
}

#header-logo {
    transform: translateX(-400px);
    display: flex;
    transition: transform 0.4s ease;
}

#main-header.scrolled #header-logo{
    display: flex;
    transform: translateX(10px);
    margin: 0;
    padding: 0;
    
}


nav a {
    color: #97c6bc;
    font-weight: bold;
    font-size: 20px;
}



section.founder{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.founder-text {
    margin-left: 30px;
    margin-right: 20px;
}

.founder-photo {
    flex-shrink: 0;      /* Empêche l’image de se rétrécir */
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 120px; /* Hauteur = largeur pour un cercle parfait */
    object-fit: cover; /* Assure que l'image garde une bonne apparence sans déformation */
    border-radius: 50%; /* Crée une forme ronde */
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles pour le conteneur des boutons */
div#button-square {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    max-width: 300px;
    max-height: 300px;
    background-color: aliceblue;
    
}

/***************** Styles communs pour tableaux d'urgence et sections de mise en avant **********************/
.selected-button{
    background-color: #4CAF50;
    color: white;
    border: 1px solid green;
}

.data-section{
    display: none; /* Masquer par défaut */
}

.data-section, .form-section {
    margin: 30px 0;
    padding: 20px;
    background-color: #ffe5e0;
    border: 2px solid #ff4d4d;
    border-radius: 5px;
}
.data-section h2, .form-section h2 {
    color: #cc0000;
    text-align: center;
    margin-bottom: 15px;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
.data-table th,
.data-table td {
    border: 1px solid #ff7f7f;
    padding: 10px;
}
.data-table th {
    background-color: #ffcccc;
    color: #990000;
}
.data-table tr:nth-child(even) {
    background-color: #fff2f0;
}
.data-section p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #cc0000;
}

/****************** Styles pour le formulaire de la newsletter **********************/
.form-section label {
    margin: 0px 0 0px;
    color: #990000;
    font-weight: bold;
    font-size: 16px;
}

.form-element {
    margin-bottom: 15px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="date"] {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ff7f7f;
    border-radius: 3px;
    font-size: 20px;
    background-color: #fff2f0;
}
.form-section button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 12px 24px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.form-section button[type="submit"]:hover {
    background-color: #990000;
}




